.custom-background {
  background-color: #003166;
  height: 100vh; /* Ensures it covers the full viewport height */
  width: 100vw; /* Covers full viewport width */
  margin: 0;
  padding: 0;
}

/* This styles the logo, username and password textbox, and login button */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container img {
  margin-bottom: 20px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px;
  width: 250px;
  font-size: 16px;
  text-align: center;
}

/* Styling for all buttons */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  width: 200px;
  height: 40px;
}

button:hover {
  background-color: #728db2;
}

/* This styles the forgot password and new user buttons */
.assistance-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  gap: 80px;
}

.assistance-container button {
  padding: 10px 20px;
  font-size: 16px;
}
